/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Doctor Soos";
  src: url("../fonts/noel_font/DoctorSoosLight.woff2") format("woff2"), url("../fonts/noel_font/DoctorSoosLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Doctor Soos";
  src: url("../fonts/noel_font/DoctorSoosBold.woff2") format("woff2"), url("../fonts/noel_font/DoctorSoosBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Italic.woff2") format("woff2"), url("../fonts/roboto/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ginger";
  src: url("../fonts/noel_font/Ginger-Regular.woff2") format("woff2"), url("../fonts/noel_font/Ginger-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Roboto";
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Doctor Soos";
}

h1 {
  font-size: clamp(4rem, 10vw, 10rem);
  color: #0066CC;
}

h2 {
  font-size: clamp(3rem, 5vw, 2rem);
  color: #8d0801;
}

* {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #efdebe;
}

header {
  height: 100px;
  background: #efdebe;
  filter: drop-shadow(0px -20px 25px rgba(0, 0, 0, 0.3));
  font-family: "Doctor Soos";
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
  position: sticky;
  top: 0;
}
header ul {
  display: flex;
  flex-direction: row;
}
header ul li {
  padding: 10px;
}
header a {
  text-decoration: none;
  color: #0066CC;
  transition: all 0.3s;
}
header a:hover {
  color: #ff6633;
  border-bottom: 1px solid #ff6633;
}
header img {
  width: 50%;
  filter: drop-shadow(0px -20px 25px rgba(0, 0, 0, 0.3));
}

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #226f54;
  font-family: "Doctor Soos";
  color: #efdebe;
  text-transform: uppercase;
  position: relative;
}
footer .pere_noel {
  width: 8vw;
  position: absolute;
  bottom: 3vh;
  right: 15vw;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.6));
}

:root {
  --angle: calc(0.0436609313 * 100vw);
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin-top: 20vh;
}
main .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5vw;
}
main .hero .divider {
  clip-path: polygon(0% var(--angle), 100% 0%, 100% calc(100% - var(--angle)), 0% 100%);
  background: #8d0801;
  width: 100vw;
  margin-block: 10vh;
  padding-block: 5vh;
}
main .hero .divider h1 {
  color: #efdebe;
}
main .hero .video {
  position: relative;
}
main .hero .video video {
  height: 60vh;
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-bottomright: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 10px solid #226f54;
}
main .hero .video .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  padding: 20px;
  background: none;
  border: 0;
  color: #efdebe;
  font-size: 5rem;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
main .hero .video .play:hover {
  color: #8d0801;
}
main .hero p {
  color: #43291F;
  text-align: center;
  padding: 3vh 25vw;
}
main .hero .column {
  float: left;
  width: 50%;
}
main .hero .row:after {
  content: "";
  display: table;
  clear: both;
}
main .hero .box {
  padding: 10vw;
  margin: 2vw;
  background: #43291F;
  border-radius: 20px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
}
main .hero h1 {
  text-align: center;
}
main .hero h2 {
  text-align: center;
}
main .hero h3 {
  text-align: center;
}
main .hero h4 {
  text-align: center;
}
main .hero h5 {
  text-align: center;
}
main .hero h6 {
  text-align: center;
}
main .hero form {
  width: 75%;
  padding: 20px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}
main .hero form .formDivGauche {
  padding-inline-end: 10px;
  width: 50%;
}
main .hero form .formDivDroite {
  padding-inline-start: 10px;
  width: 50%;
}
main .hero form .checkbox {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  text-align: right;
}
main .hero form .checkbox label {
  font-size: 1.25rem;
  padding-left: 10px;
  padding-block: 5vh;
}
main .hero form label {
  color: #8d0801;
  font-family: "Doctor Soos";
  padding-block: 10px;
}
main .hero form input:not([type=checkbox]) {
  width: 100%;
  font-family: "Doctor Soos";
  border: none;
  border-bottom: 1px solid #226f54;
  background: transparent;
  font-size: 1.5rem;
  color: #226f54;
}
main .hero form input:not([type=checkbox]):focus {
  outline: none;
}
main .hero form textarea {
  resize: vertical;
  font-family: "Doctor Soos";
  font-size: 1.5rem;
  background: transparent;
  color: #226f54;
  border: none;
  border-bottom: 1px solid #226f54;
}
main .hero form textarea:focus {
  outline: none;
}
main .hero form input[type=submit] {
  background: #8d0801;
  float: right;
  width: auto;
  border: none;
  color: #efdebe;
  padding: 1vh 2vh;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.3s;
}
main .hero form input[type=submit]:hover {
  background: #226f54;
}
main .hero .present {
  position: relative;
  display: inline-block;
  width: 12em;
  height: 12em;
  margin: 0.5em;
  perspective: 850px;
  z-index: 666;
}
main .hero .present__pane,
main .hero .present__content {
  width: inherit;
  height: inherit;
}
main .hero .present__pane {
  position: relative;
  background: linear-gradient(135deg, #b00a01 50%, #226f54 50%);
  transform-style: preserve-3d;
  transform-origin: 0;
  perspective: 850px;
  text-align: center;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.2s ease-out;
}
main .hero .present__date {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.4em;
  height: 2.4em;
  margin: 0;
  font-size: 2em;
  line-height: 2.4em;
  background: SlateBlue;
  color: white;
  border-radius: 50%;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.15);
}
main .hero .present:hover {
  z-index: 999;
}
main .hero .present:hover .present__pane {
  background: linear-gradient(135deg, #ff8e7a 50%, #ff7961 50%);
  transform: rotateY(-97deg);
  perspective-origin: 0;
  transition: all 0.25s ease-in;
}
main .hero .present:hover .present__date {
  backface-visibility: hidden;
}
main .hero .present:hover .present__bauble {
  display: inline-block;
  transform-origin: 50% 0;
  animation: shake 0.7s;
}
main .hero .present__content {
  position: absolute;
  top: 0;
  left: 0;
  background: SlateBlue;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15), inset 0 0 30px 20px rgba(0, 0, 0, 0.15);
  z-index: -1;
}
main .hero .present__bauble {
  position: relative;
  width: 2.6666666667em;
  height: 2.6666666667em;
  background: Violet;
  margin: 25% auto 0 auto;
  font-size: 2.6666666667em;
  line-height: 2.6666666667em;
  border-radius: 50%;
}
main .hero .present__bauble::after {
  content: "";
  position: absolute;
  top: -5%;
  left: 50%;
  width: 30%;
  height: 10%;
  margin-left: -15%;
  background: inherit;
}
main .hero .present__bauble::before {
  content: "";
  position: absolute;
  top: -15%;
  left: 50%;
  width: 12%;
  height: 20%;
  margin-left: -12%;
  border: 0.35rem solid Violet;
  border-radius: 50%;
  z-index: 0;
}

/*# sourceMappingURL=style.css.map */
