@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Doctor Soos";
  src: url("../fonts/noel_font/DoctorSoosLight.woff2") format("woff2"), url("../fonts/noel_font/DoctorSoosLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Doctor Soos";
  src: url("../fonts/noel_font/DoctorSoosBold.woff2") format("woff2"), url("../fonts/noel_font/DoctorSoosBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Italic.woff2") format("woff2"), url("../fonts/roboto/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ginger";
  src: url("../fonts/noel_font/Ginger-Regular.woff2") format("woff2"), url("../fonts/noel_font/Ginger-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Roboto";
  font-size: clamp(1rem, 2vw + 1rem, 1.125rem);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Doctor Soos";
}

h1 {
  font-size: clamp(1.333rem, 2vw + 1rem, 1.778rem);
  color: #0066cc;
}

h2 {
  font-size: clamp(1rem, 2vw + 1rem, 1.333rem);
  color: #8d0801;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url("../../assets/images/jpg/background.jpg");
  background-size: cover;
  background-repeat: none;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #8d0801;
  transition: all 0.3s;
}
a:hover {
  color: #43291f;
}

h1 {
  text-align: center;
  padding: 20px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

h5 {
  text-align: center;
}

h6 {
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Doctor Soos";
  font-weight: 100;
}
header .overlay_header {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 100vh;
  left: 0;
  background-color: #efdebe;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
header .overlay_header nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
  margin-bottom: 10vh;
}
header .overlay_header nav ul li {
  list-style-type: none;
  text-transform: uppercase;
  transition: clip-path 0.5s ease-in-out;
  clip-path: inset(0 100% 0 0);
  font-size: clamp(1em, 1.75vw, 1.75em);
}
header .overlay_header nav ul li:nth-of-type(2n) {
  clip-path: inset(0 0 0 100%);
}
header .overlay_header nav ul li:nth-of-type(2n + 1) {
  clip-path: inset(0 100% 0 0);
}
header .overlay_header nav ul li a {
  text-decoration: none;
  color: #226f54;
  transition: color 0.3s ease;
}
header .overlay_header nav ul li a:hover {
  color: #8d0801;
}
header .overlay_header svg {
  position: absolute;
  bottom: -60px;
  width: 105%;
  margin-left: 5%;
}
header .sapin_toggle {
  z-index: 11;
  margin-left: 5vw;
  margin-top: 20px;
  justify-content: flex-end;
  align-self: flex-start;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
header .sapin_toggle .star {
  --size: 20px;
  --half-size: calc(var(--size) / 2);
  position: relative;
  display: block;
  color: rgb(179, 188, 11);
  width: 0px;
  height: 0px;
  border-right: var(--half-size) solid transparent;
  border-bottom: calc(var(--half-size) * 0.7) solid rgb(179, 188, 11);
  border-left: var(--half-size) solid transparent;
  transform: rotate(35deg);
}
header .sapin_toggle .star:before {
  border-bottom: calc(var(--half-size) * 0.8) solid rgb(179, 188, 11);
  border-left: calc(var(--half-size) * 0.3) solid transparent;
  border-right: calc(var(--half-size) * 0.3) solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: calc(var(--half-size) * 0.45 * -1);
  left: calc(var(--half-size) * 0.65 * -1);
  display: block;
  content: "";
  transform: rotate(-35deg);
}
header .sapin_toggle .star:after {
  position: absolute;
  display: block;
  color: rgb(179, 188, 11);
  top: calc(var(--half-size) * 0.03);
  left: calc(var(--half-size) * -1.05);
  width: 0px;
  height: 0px;
  border-right: var(--half-size) solid transparent;
  border-bottom: calc(var(--half-size) * 0.7) solid rgb(179, 188, 11);
  border-left: var(--half-size) solid transparent;
  transform: rotate(-70deg);
  content: "";
}
header .sapin_toggle .branches {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  clip-path: inset(0 0 0 0);
}
header .sapin_toggle .branches .branche {
  height: 3px;
  background-color: #226f54;
}
header .sapin_toggle .branches .branche.arm1 {
  margin-top: 5px;
  width: 15px;
}
header .sapin_toggle .branches .branche.arm2 {
  width: 25px;
}
header .sapin_toggle .branches .branche.arm3 {
  width: 35px;
}
header .sapin_toggle .branches .branche.arm4 {
  width: 45px;
}
header .sapin_toggle .menu_sapin {
  font-family: "Roboto";
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: -2px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .sapin_toggle .menu_sapin p:nth-of-type(2) {
  background-color: #efdebe;
  top: 0;
  position: absolute;
  clip-path: inset(50% 0 50% 0);
  transition: clip-path 0.3s ease-in;
}

.hero {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.hero #boite_lettre {
  width: 4vw;
  left: 36vw;
  bottom: 15vh;
  position: absolute;
  transform: rotateY(180deg);
  transition: all 0.3s;
  border-radius: 30px;
  box-shadow: 0px 15px 10px -15px rgb(155, 155, 155);
  cursor: pointer;
}
.hero #boite_lettre:hover {
  transform: scale(0.9) rotateY(180deg);
}
.hero #sapin {
  width: 5vw;
  left: 47.8%;
  top: 29.5vh;
  position: absolute;
  transform: rotateY(180deg) translateX(-50%);
}
.hero #lutin {
  width: 6vw;
  left: 23vw;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  transition: all 0.3s;
  cursor: pointer;
}
.hero #lutin:hover {
  transform: scale(0.9) rotateY(180deg);
}
.hero #lutin2 {
  width: 6vw;
  right: 22vw;
  bottom: 0;
  position: absolute;
  transition: all 0.3s;
  cursor: pointer;
}
.hero #lutin2:hover {
  transform: scale(0.9);
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}
@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}
.formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulaire .column {
  float: left;
  width: 50%;
}
.formulaire .row:after {
  content: "";
  display: table;
  clear: both;
}
.formulaire form {
  background: #efdebe;
  padding: 20px;
  border-radius: 5px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}
.formulaire form .formDivGauche {
  width: 100%;
}
.formulaire form .formDivDroite {
  width: 100%;
}
.formulaire form .checkbox {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  text-align: right;
}
.formulaire form .checkbox label {
  font-size: 1.25rem;
  padding-left: 10px;
}
.formulaire form label {
  color: #8d0801;
  font-family: "Doctor Soos";
  padding-block: 10px;
}
.formulaire form input:not([type=checkbox]) {
  width: 100%;
  font-family: "Doctor Soos";
  border: none;
  border-bottom: 1px solid #226f54;
  background: transparent;
  font-size: 1.5rem;
  color: #226f54;
  margin-block: 4vh;
}
.formulaire form input:not([type=checkbox]):focus {
  outline: none;
}
.formulaire form textarea {
  resize: vertical;
  font-family: "Doctor Soos";
  font-size: 1.5rem;
  background: transparent;
  color: #226f54;
  border: none;
  border-bottom: 1px solid #226f54;
}
.formulaire form textarea:focus {
  outline: none;
}
.formulaire form input[type=submit] {
  background: #8d0801;
  float: right;
  width: auto;
  border: none;
  color: #efdebe;
  padding: 1vh 2vh;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.3s;
}
.formulaire form input[type=submit]:hover {
  background: #226f54;
}

.video {
  height: 100vh;
  background: #226f54;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.video h1 {
  color: #efdebe;
}
.video p {
  text-align: center;
  color: #efdebe;
  padding: 2vh 2vw;
}
@media screen and (min-width: 1192px) {
  .video p {
    padding: 2vh 25vw;
  }
}

.recette {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.recette .titre_recette {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-inline-end: 30px;
  color: #8d0801;
}
.recette .box_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.recette .box_grid .recette_box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 30vw;
  height: 30vh;
  background-image: url("../../assets/images/jpg/pexels-tim-douglas-6210864.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.recette .box_grid .recette_box img {
  object-fit: cover;
}
.recette .box_grid .texte {
  display: flex;
  flex-direction: column;
  background: #efdebe;
  padding: 5px;
  font-family: "Doctor Soos";
  color: #8d0801;
  font-size: 24px;
  height: 20vh;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.recette .box_grid .texte i {
  color: #8d0801;
  font-size: 18px;
}
.recette .box_grid .texte a {
  background: #f8f8f8;
  width: 80%;
  padding: 5px;
  border-radius: 20px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
