/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Doctor Soos";
  src: url("../fonts/noel_font/DoctorSoosLight.woff2") format("woff2"), url("../fonts/noel_font/DoctorSoosLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Doctor Soos";
  src: url("../fonts/noel_font/DoctorSoosBold.woff2") format("woff2"), url("../fonts/noel_font/DoctorSoosBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Italic.woff2") format("woff2"), url("../fonts/roboto/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ginger";
  src: url("../fonts/noel_font/Ginger-Regular.woff2") format("woff2"), url("../fonts/noel_font/Ginger-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Roboto";
  font-size: 16px;
}

h1 {
  font-family: "Doctor Soos";
  font-size: clamp(4rem, 10vw, 10rem);
  color: #0066CC;
}

* {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #fcf5ed;
}

header {
  height: 20vh;
  background: #fcf5ed;
  filter: drop-shadow(0px -20px 25px rgba(0, 0, 0, 0.3));
  font-family: "Doctor Soos";
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  text-decoration: none;
  color: #43291F;
  transition: all 0.3s;
}
header a a:hover {
  color: #da2c38;
}

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #226f54;
  font-family: "Doctor Soos";
  color: #fcf5ed;
  text-transform: uppercase;
  position: relative;
}
footer .pere_noel {
  width: 8vw;
  position: absolute;
  bottom: 3vh;
  right: 15vw;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.6));
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin-top: 20vh;
}
main .hero {
  padding: 20px;
}
main .hero .column {
  float: left;
  width: 50%;
}
main .hero .row:after {
  content: "";
  display: table;
  clear: both;
}
main .hero .box {
  padding: 10vw;
  margin: 2vw;
  background: #43291F;
  border-radius: 20px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
}
main .hero h1 {
  text-align: center;
}
main .hero p {
  color: #43291F;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
