.recette {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 200px;
    button{
        border-radius: 10px;
        background-color: $noel-marron;
        color: $noel-beige;
        padding: 7px 15px;
        border: $noel-vert-pastel;
        cursor: pointer;
        font-family: $font-title;
        font-size: clamp(0.8em, 1.5vw, 1.5em);
    }
    h1{
        font-size: 4em;
        color: $noel-rouge;
        -webkit-text-stroke: 1px $noel-beige;
    }
    a{
        border-radius: 10px;
        background-color: $noel-marron;
        color: $noel-beige;
        padding: 7px 15px;
        border: $noel-vert-pastel;
        cursor: pointer;
        font-family: $font-title;
        font-size: clamp(0.8em, 1.5vw, 1.5em);
        margin-bottom: 25px;
    }
    .cd-recettes{
        display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    padding-bottom: 100px;
        width: 80%;
        transition: opacity 0.3s ease;
        .wrap_recette{
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 15px;
            iframe{
                background-color: transparent !important;
                cursor: pointer;
                border: none !important;
                width: 100%;
                aspect-ratio: 1/1;
               }

        }
        
    }
    .cd_modale_recette{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 120vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.47);
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease;
        justify-content: center;
        align-items: center;
        div{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            iframe{
                width: 100%;
                background-color: transparent !important;
                border: none !important;
                aspect-ratio: 1/1;
            }
            button{
                margin-top: -200px;
            }
        }
        
    }
   
}

