.recette {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 100px);
    .titre_recette {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        margin-inline-end: 30px;
        color: $noel-rouge;
    }
    .box_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 30px;
        .recette_box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30vw;
            height: 200px;
            background-image: url("../../assets/images/jpg/pexels-tim-douglas-6210864.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            img {
                object-fit: cover;
            }
        }
        .texte {
            display: flex;
            margin-bottom: 20px;
            flex-direction: column;
            background: #f8f8f8;
            padding: 5px;
            font-family: "Doctor Soos";
            color: #8d0801;
            border-radius: 0 0 5px 5px;
            align-items: center;
            justify-content: space-evenly;
            i {
                color: $noel-rouge;
                font-size: 18px;
            }
            a {
                background: $noel-rouge;
                color: white;
                width: 30%;
                margin: 20px;
                padding: 5px;
                border-radius: 20px;
                text-align: center;
            }
        }
    }
}
