:root {
    --angle: calc(0.0436609313 * 100vw);
}

main{
    background: $noel-beige;
    .divider {
        clip-path: polygon(0% var(--angle), 100% 0%, 100% calc(100% - var(--angle)), 0% 100%);
        background: $noel-rouge;
        width: 100vw;
        margin-block: 10vh;
        padding-block: 5vh;
        h1 {
            color: $noel-beige;
        }
    }
}