#bg_hero {
    overflow: hidden;
}

.hero {
    height: calc(100vh - 125px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    align-self: flex-end;
    margin-top: 125px;
    #boite_lettre {
        width: 12vw;
        left: 7vw;
        bottom: -7vh;
        position: absolute;
        transform: rotateY(180deg);
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
            transform: scale(1.05) rotateY(180deg);
        }
    }

    .info_boite {
        span {
            opacity: 0;
            position: absolute;
            background: $noel-vert;
            left: 2vw;
            bottom: 30vh;
            padding: 10px;
            color: $noel-beige;
            z-index: 5;
            border-radius: 10px;
            font-size: 1rem;
            transition: all 0.5s;
            i {
                padding-inline: 5px;
            }
        }
        &:hover {
            span {
                opacity: 1;
            }
        }
    }

    #sapin {
        width: 6vw;
        top: 12vw;
        position: absolute;
        transition: all 0.3s;
        cursor: pointer;
        transform: rotateY(180deg);
        &:hover {
            transform: scale(1.05) rotateY(180deg);
        }
    }

    .info_sapin {
        span {
            opacity: 0;
            position: absolute;
            background: $noel-vert;
            left: 44.5vw;
            bottom: 62vh;
            padding: 10px;
            color: $noel-beige;
            z-index: 5;
            border-radius: 10px;
            font-size: 1rem;
            transition: all 0.5s;
            i {
                padding-inline: 5px;
            }
        }
        &:hover {
            span {
                opacity: 1;
            }
        }
    }

    .modal {
        display: none;
        position: fixed;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        overflow: hidden;
        z-index: 99;
        .box_modal_catalogue {
            position: relative;
            z-index: 3;
            background: url("../../assets/images/png/BackgroundCatalogueModal.png");
            background-size: cover;
            background-size: 20vw;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0;
            border-radius: 20px;
            width: 60vw;
            height: 70vh;
            filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s;
            #lutin_catalogue {
                width: 14vw;
                z-index: 3;
                left: -90px;
                bottom: 0;
                position: absolute;
                transform: rotateY(180deg);
            }
            #couronne_catalogue {
                width: 15vw;
                z-index: 2;
                top: -70px;
                position: absolute;
            }

            #pin {
                width: 4vw;
                z-index: 2;
                top: -25px;
                left: -25px;
                position: absolute;
                transform: rotate(-35deg);
            }

            #pin2 {
                width: 4vw;
                z-index: 2;
                top: -30px;
                right: 22vw;
                position: absolute;
            }

            #pin3 {
                width: 4vw;
                z-index: 2;
                top: 10vh;
                right: 12vw;
                position: absolute;
                transform: rotate(120deg);
            }

            .corps_modal {
                height: auto;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                border-radius: 5px;
                h1 {
                    font-size: clamp(0.5rem, 0.7619rem + 1.1905vw, 2rem);
                    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
                    width: 70%;
                    text-align: center;
                    border-radius: 20px;
                    color: $noel-beige;
                    z-index: 99;
                    text-transform: uppercase;
                }
                h2 {
                    font-size: clamp(0.5rem, 0.7619rem + 1.1905vw, 1.5rem);
                    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
                    width: 75%;
                    text-align: left;
                    padding-block: 10px;
                    border-radius: 20px;
                    color: $noel-beige;
                    z-index: 99;
                }
                .btnFermerCatalogue {
                    color: $noel-beige;
                    font-weight: bold;
                    transition: all 0.3s;
                    background: $noel-vert;
                    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
                    border-radius: 20px;
                    padding: 10px;
                    margin-inline: 40px;
                    margin-block: 10px;
                    z-index: 99;
                    cursor: pointer;
                    &:hover {
                        color: $noel-rouge;
                        text-decoration: none;
                    }
                }
                p {
                    width: 75%;
                    text-align: left;
                    line-height: 2;
                    color: $noel-beige;
                    font-size: clamp(1rem, 0.7619rem + 1.1905vw, 1rem);
                    font-family: $font-normal;
                }
            }
            .divModalCatalogue {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                .btnCatalogueAfter {
                    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
                    display: block;
                    color: $noel-beige;
                    font-size: 1rem;
                    font-family: $font-normal;
                    background: $noel-marron;
                    border: 1px solid $noel-marron;
                    position: absolute;
                    text-align: center;
                    right: 10vw;
                    cursor: pointer;
                    bottom: -15px;
                    transition: all 0.3s;
                    border-radius: 20px;
                    z-index: 99;
                    &:hover {
                        background: $noel-vert;
                        border: 1px solid $noel-vert;
                        color: $noel-beige;
                    }
                }
                .btnCatalogueRedir {
                    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
                    display: block;
                    color: $noel-beige;
                    font-size: 1rem;
                    background: $noel-rouge;
                    position: absolute;
                    text-align: center;
                    bottom: -15px;
                    padding: 10px;
                    transition: all 0.3s;
                    border-radius: 20px 0 20px 20px;
                    z-index: 99;
                    &:hover {
                        background: $noel-vert;
                    }
                }
            }
        }

        .box_modal_lettre {
            position: relative;
            z-index: 3;
            background: url("../../assets/images/png/BackgroundLettreModal.png");
            background-size: cover;
            margin: auto;
            outline: 10px dashed $noel-rouge;
            outline-offset: -10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0;
            border-radius: 20px;
            width: 60vw;
            height: 70vh;
            filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s;
            #lutin_lettre {
                width: 15vw;
                z-index: 3;
                left: -90px;
                bottom: 0;
                position: absolute;
                transform: rotateY(180deg);
                filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
            }

            #lettre_timbre {
                width: 22.5vw;
                right: 1.5vw;
                z-index: 2;
                top: 1.5vh;
                position: absolute;
            }

            .corps_modal {
                height: auto;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                border-radius: 5px;
                h1 {
                    font-size: clamp(0.5rem, 0.7619rem + 1.1905vw, 2rem);
                    width: 75%;
                    text-align: center;
                    border-radius: 20px;
                    color: $noel-marron;
                    z-index: 99;
                    text-transform: uppercase;
                }
                h2 {
                    font-size: clamp(0.5rem, 0.7619rem + 1.1905vw, 1.5rem);
                    width: 75%;
                    text-align: left;
                    padding-block: 10px;
                    border-radius: 20px;
                    color: $noel-marron;
                    z-index: 99;
                }
                p {
                    width: 75%;
                    z-index: 3;
                    text-align: left;
                    line-height: 1.5;
                    color: $noel-marron;
                    font-size: 1rem;
                    font-family: $font-normal;
                }
            }
            .divModalLettre {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                .btnLettreAfter {
                    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
                    display: block;
                    color: $noel-beige;
                    font-size: 1rem;
                    font-family: $font-normal;
                    background: $noel-marron;
                    border: 1px solid $noel-marron;
                    position: absolute;
                    text-align: center;
                    right: 10vw;
                    cursor: pointer;
                    bottom: -15px;
                    transition: all 0.3s;
                    border-radius: 20px;
                    z-index: 99;
                    &:hover {
                        background: $noel-vert;
                        border: 1px solid $noel-vert;
                        color: $noel-beige;
                    }
                }
                .btnLettreRedir {
                    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
                    display: block;
                    color: $noel-beige;
                    font-size: 1rem;
                    background: $noel-rouge;
                    position: absolute;
                    text-align: center;
                    bottom: -15px;
                    padding: 10px;
                    transition: all 0.3s;
                    border-radius: 20px 0 20px 20px;
                    z-index: 99;
                    &:hover {
                        background: $noel-vert;
                    }
                }
            }
        }

        // Box Modal Recette

        .box_modal_recette {
            position: relative;
            z-index: 3;
            background: $noel-beige;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0;
            border-radius: 20px;
            width: 60vw;
            height: 70vh;
            filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s;
            #lutin_recette {
                width: 9.5vw;
                z-index: 3;
                left: -100px;
                bottom: 0;
                position: absolute;
                transform: rotateY(180deg);
            }
            #modal_chocolat {
                width: 83vw;
                z-index: 2;
                left: -50px;
                top: -200px;
                position: absolute;
            }

            .corps_modal {
                height: auto;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                border-radius: 5px;
                h1 {
                    font-size: clamp(0.5rem, 0.7619rem + 1.1905vw, 2rem);
                    width: 75%;
                    text-align: center;
                    border-radius: 20px;
                    color: $noel-marron;
                    z-index: 99;
                    text-transform: uppercase;
                }
                h2 {
                    font-size: clamp(0.5rem, 0.7619rem + 1.1905vw, 1.5rem);
                    width: 75%;
                    text-align: left;
                    padding-block: 10px;
                    border-radius: 20px;
                    color: $noel-marron;
                    z-index: 99;
                }
                p {
                    width: 75%;
                    z-index: 3;
                    text-align: left;
                    line-height: 1.5;
                    color: $noel-marron;
                    font-size: 1rem;
                    font-family: $font-normal;
                }
            }
            .divModalRecette {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                .btnRecetteAfter {
                    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
                    display: block;
                    color: $noel-beige;
                    font-size: 1rem;
                    font-family: $font-normal;
                    background: $noel-marron;
                    border: 1px solid $noel-marron;
                    position: absolute;
                    text-align: center;
                    right: 10vw;
                    cursor: pointer;
                    bottom: -15px;
                    transition: all 0.3s;
                    border-radius: 20px;
                    z-index: 99;
                    &:hover {
                        background: $noel-vert;
                        border: 1px solid $noel-vert;
                        color: $noel-beige;
                    }
                }
                .btnRecetteRedir {
                    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
                    display: block;
                    color: $noel-beige;
                    font-size: 1rem;
                    background: $noel-rouge;
                    position: absolute;
                    text-align: center;
                    bottom: -15px;
                    padding: 10px;
                    transition: all 0.3s;
                    border-radius: 20px 0 20px 20px;
                    z-index: 99;
                    &:hover {
                        background: $noel-vert;
                    }
                }
            }
        }
    }

    #serie {
        width: 15vw;
        left: 24vw;
        bottom: 12vw;
        position: absolute;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
            transform: scale(1.05);
        }
    }

    #lutin_serie {
        width: 3.5vw;
        left: 30vw;
        bottom: 15vw;
        position: absolute;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
            transform: scale(1.05);
        }
    }

    .info_lutin {
        span {
            opacity: 0;
            position: absolute;
            background: $noel-vert;
            left: 26vw;
            bottom: 35vw;
            padding: 10px;
            color: $noel-beige;
            z-index: 5;
            border-radius: 10px;
            font-size: 1rem;
            transition: all 0.5s;
            i {
                padding-inline: 5px;
            }
        }
        &:hover {
            span {
                opacity: 1;
            }
        }
    }

    // Box Modal Recette

    .box_modal_serie {
        position: relative;
        z-index: 3;
        background: $noel-beige;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        border-radius: 20px;
        width: 60vw;
        height: 70vh;
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        #lutin_recette {
            width: 9.5vw;
            z-index: 3;
            left: -100px;
            bottom: 0;
            position: absolute;
            transform: rotateY(180deg);
        }
        #modal_chocolat {
            width: 83vw;
            z-index: 2;
            left: -50px;
            top: -200px;
            position: absolute;
        }

        .corps_modal {
            height: auto;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            border-radius: 5px;
            h1 {
                font-size: clamp(0.5rem, 0.7619rem + 1.1905vw, 2rem);
                width: 75%;
                text-align: center;
                border-radius: 20px;
                color: $noel-marron;
                z-index: 99;
                text-transform: uppercase;
            }
            h2 {
                font-size: clamp(0.5rem, 0.7619rem + 1.1905vw, 1.5rem);
                width: 75%;
                text-align: left;
                padding-block: 10px;
                border-radius: 20px;
                color: $noel-marron;
                z-index: 99;
            }
            p {
                width: 75%;
                z-index: 3;
                text-align: left;
                line-height: 1.5;
                color: $noel-marron;
                font-size: 1rem;
                font-family: $font-normal;
            }
        }
        .divModalSerie {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            .btnSerieAfter {
                filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
                display: block;
                color: $noel-beige;
                font-size: 1rem;
                font-family: $font-normal;
                background: $noel-marron;
                border: 1px solid $noel-marron;
                position: absolute;
                text-align: center;
                right: 10vw;
                cursor: pointer;
                bottom: -15px;
                transition: all 0.3s;
                border-radius: 20px;
                z-index: 99;
                &:hover {
                    background: $noel-vert;
                    border: 1px solid $noel-vert;
                    color: $noel-beige;
                }
            }
            .btnSerieRedir {
                filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
                display: block;
                color: $noel-beige;
                font-size: 1rem;
                background: $noel-rouge;
                position: absolute;
                text-align: center;
                bottom: -15px;
                padding: 10px;
                transition: all 0.3s;
                border-radius: 20px 0 20px 20px;
                z-index: 99;
                &:hover {
                    background: $noel-vert;
                }
            }
        }
    }

    #maison {
        width: 45vw;
        right: -8vw;
        bottom: 8vh;
        position: absolute;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
            transform: scale(1.05);
        }
    }

    .info_maison {
        span {
            opacity: 0;
            position: absolute;
            background: $noel-vert;
            right: 7vw;
            bottom: 15vh;
            padding: 10px;
            color: $noel-beige;
            z-index: 5;
            border-radius: 10px;
            font-size: 1rem;
            transition: all 0.5s;
            transform: rotate(-11deg);
            i {
                padding-inline: 5px;
            }
        }
        &:hover {
            span {
                opacity: 1;
            }
        }
    }

    #bonhomme {
        width: 3vw;
        right: 37vw;
        bottom: 40vh;
        position: absolute;
        transition: all 0.3s;
        transform: rotateY(180deg);
    }
}

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
}

@media (orientation: portrait) {
    body {
        flex-direction: column;
    }
}
