.video{
    height: 100vh;
    background: $noel-vert;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        color: $noel-beige;
    }
    p {
        text-align: center;
        color: $noel-beige;
        padding: 2vh 2vw;
        @media screen and (min-width: $desktop) {
            padding: 2vh 25vw;
        }
    }
}