.wrap_sapin_calendrier{
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 250px;
    h1{
        font-size: 4em;
    }
    .sapin_calendrier {  
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 100px;
        width: 70%;
        @for $i from 1 through 24 {
            .c#{$i} {
                position: relative;
                .num{
                    position: absolute;
                    border-radius: 50%;
                    color: white;
                    background-color: $noel-marron;
                    padding: 2.25vh;
                    top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    font-size: 0.8em;
                    z-index: 2;
                    &::after{
                        content: "#{$i}";
                        position: absolute;
                        color: white;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                   
                }
            }
        }
        .cadeau{
            --tailleCadeau: 10vh;
            cursor: pointer;
            width: var(--tailleCadeau);
            aspect-ratio: 10/7;
            background-color: $noel-vert-pastel;
            border-radius: 0 0 10px 10px;
            position: relative;
            margin-inline: -11.75px;
            transition: all ease-in-out 1s;
            &:nth-child(1){
                filter: grayscale(1);
            }
            &::before{
                content: "";
                position: absolute;
                height: calc(var(--tailleCadeau) / 5);
                width: 100%;
                background-color: #73a67a;
                top: 0;
                transition: all ease-in-out 1s;
            }
            &::after{
                content: "";
                position: absolute;
                height: 100%;
                width: calc(var(--tailleCadeau) / 5);
                background-color: $noel-rouge;
                left: 50%;
                transform: translateX(-50%);
                transition: all ease-in-out 1s;
            }
            .couvercle{
                width: 112.5%;
                height: calc(var(--tailleCadeau) / 5);
                background-color: $noel-vert-pastel;
                border-radius: 50px;
                position: absolute;
                top: calc(calc(var(--tailleCadeau) / 5) * (-1)); 
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                transform-style: preserve-3d;
                transform-origin: left bottom;
                transition: all ease-in-out 1s;
                &::after{
                    content: "";
                    position: absolute;
                    height: 145%;
                    width: calc(var(--tailleCadeau) / 3);
                    border-radius: 10px 10px 0 0;
                    background-color: $noel-rouge;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                    transition: all ease-in-out 1s;
                }
                &::before{
                    content: "";
                    position: absolute;
                    height: 150%;
                    width: 85%;
                    background-color: $noel-rouge;
                    left: 50%;
                    top: -140%;
                    border-radius: 20px 20px 0 0;
                    clip-path: polygon(50% 90%, 95% 0, 100% 0, 100% 100%, 0 100%, 0 0, 5% 0);
                    transform: translateX(-50%) translateZ(-1px);
                    transition: all ease-in-out 1s;
                }
            }
           
        }
    }
}

.tonperetang{
    background-color: $noel-beige;
}


      

  
  