* {
  box-sizing: border-box;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  background-image: url("../../assets/images/jpg/background.jpg");
  background-size: cover;
  background-repeat: none;
}

a {
  text-decoration: none;
  color: $noel-rouge;
  transition: all 0.3s;
  &:hover {
    color: $noel-marron;
  }
}

h1 {
  text-align: center;
  padding: 20px;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
}
h5 {
  text-align: center;
}
h6 {
  text-align: center;
}
