#bg_formulaire {
    overflow: hidden;
    .formulaire {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 20vh;
        height: 100vh;
        form {
            width: 60vw;
            padding: 20px;
            height: calc(90vh - 100px);
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;
            border: 5px solid;
            border-style: dotted;
            border-color: $noel-vert;
            background: $noel-beige;
            flex-direction: column;
            border-radius: 10px;
            small {
                color: $noel-rouge;
                font-family: $font-title;
                font-size: 0.8rem;
            }
            #houx {
                width: 10vw;
                right: -60px;
                top: -60px;
                position: absolute;
                transition: all 0.3s;
                cursor: pointer;
                transform: rotate(90deg);
            }
            input[type="submit"] {
                background: $noel-rouge;
                width: fit-content;
                border: none;
                font-family: $font-title;
                color: $noel-beige;
                border-radius: 20px 0 10px 0;
                padding: 1vh 2vh;
                cursor: pointer;
                font-size: 1rem;
                position: absolute;
                bottom: -15px;
                right: -5px;
                transition: all 0.3s;
                &:hover {
                    background: $noel-vert;
                }
            }
            .header_form {
                background: $noel-rouge;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                top: -5px;
                border-radius: 5px 0 0 0;
                left: -5px;
                position: absolute;
                h1 {
                    color: $background;
                    font-size: 1rem;
                }
            }

            .corps_form {
                label {
                    color: $noel-rouge;
                    font-family: $font-title;
                    padding-block: 10px;
                    i {
                        padding-inline-end: 10px;
                    }
                }
                input:not([type="checkbox"]) {
                    width: 100%;
                    font-family: $font-title;
                    border: none;
                    border-bottom: 1px solid $noel-vert;
                    background: transparent;
                    font-size: 1rem;
                    margin-block: 10px;
                    color: $noel-vert;
                    &:focus {
                        outline: none;
                    }
                    input[type="checkbox"] {
                        vertical-align: bottom;
                        position: relative;
                    }
                }
                .checkbox_form {
                    padding-block: 10px;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: row;
                    label {
                        padding-inline: 10px;
                    }
                }
            }
        }
    }
}
