.login{
    h1{
        a{
            background-image: url("../../assets/images/png/Logo.png");
            // transform: scale(3) translateY(3vh);
            background-size: 15vw;
            overflow: visible;
            width: 100%;
        }
    }
    form{
        border-radius: 5px;
        border: none;
        box-shadow: none;
        position: relative;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    #backtoblog{
        display: none;
    }
}