.cd-jeu-all{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: calc(450px + 20%);
    gap: 50px;
    .wrap_pere_noel{
        width: 10%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .pere_noel{
            width: 100%;
        }
        .pere_noel_gris{
            position: absolute;
            filter: grayscale(1);
        }
    }
    
    h1{
        font-size: 4em;
        color: $noel-rouge;
        -webkit-text-stroke: 1px $noel-beige;
    }
    p{
        width: 80%;  
        background-color: $noel-beige;
        color: $noel-marron;
        padding: 3%;
        border-radius: 10px;
        line-height: 1.5;
        font-size: clamp(0.8em, 1.2vw, 1.1em);
    }
    .cd-lvl{
        padding-bottom: 50px;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 20px;
        transition: opacity 0.3s ease;
        .lvl{
            cursor: pointer;
            width: 15%;
            opacity: 1;
            
            img{
                width: 100%;
                outline: 5px solid $noel-vert;
                outline-offset: -5px;
            }
            h3{
                padding-top: 7px;
            }
        }
    }
    #container_jeu{
        opacity: 0;
        transition: opacity 0.3s ease;
        display: none;
        padding-bottom: 100px;
    }
}

.modal_jeu{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    background-color: rgba(0, 0, 0, 0.584);
    display: none;
        opacity: 0;
        transition: opacity 0.3s ease;
    form{
        display: flex;
    justify-content: center;
    align-items: center;
        padding: 5vw 15vw;
        aspect-ratio: 3/1;
        background-color: $noel-beige;
        border-radius: 10px;
        
        input{
            border-radius: 20px;
                background-color: $noel-vert;
                color: $noel-beige;
                padding: 10px 25px;
                border: $noel-vert-pastel;
                cursor: pointer;
                font-family: $font-title;
                font-size: 1.2em;
                text-transform: capitalize;
        }
    }
}