footer {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    font-family: $font-title;
    color: $noel-beige;
    text-transform: uppercase;
    a {
        padding: 10px;
        color: $noel-beige;
        transition: all 0.3s;
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(4px);
        margin: 5px;
        padding: 10px;
        -webkit-backdrop-filter: blur(4px);
        border-radius: 50px;
        text-align: center;
        &:hover {
            color: $noel-rouge;
        }
    }
    p {
        padding-block: 10px;
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(4px);
        padding: 5px;
        margin: 5px;
        -webkit-backdrop-filter: blur(4px);
        border-radius: 50px;
    }
    // .pere_noel {
    //     width: 10%;
    //     position: absolute;
    //     bottom: 3vh;
    //     right: 15vw;
    //     display: none;
    //     filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.6));
    //     @media screen and (min-width: $tablette) {
    //         display: block;
    //     }
    // }
}
