header {
  width: 100%;
  display: flex;
  height: 200px;
  align-items: flex-start;
  inset: 0;
  justify-content: space-between;
  font-family: $font-title;
  font-weight: 100;
  background-image: url("../../assets/images/png/headerv2.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  .overlay_header {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 99;
    top: 150vh;
    left: 0;
    background-color: $noel-beige;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    overflow-y: hidden;
    nav {
      height: calc(100vh - 250px);
      ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 3vw;
        li {
          list-style-type: none;
          text-transform: uppercase;
          transition: clip-path 0.5s ease-in-out;
          clip-path: inset(0 100% 0 0);
          font-size: clamp(1em, 1.75vw, 1.75em);
          &:nth-of-type(2n) {
            clip-path: inset(0 0 0 100%);
          }
          &:nth-of-type(2n + 1) {
            clip-path: inset(0 100% 0 0);
          }
          a {
            text-decoration: none;
            color: $noel-vert;
            transition: color 0.3s ease;
            &:hover {
              color: $noel-rouge;
            }
          }
        }
      }
    }
    svg {
      position: absolute;
      width: 100%;
    }
    .custom-shape-divider-bottom-1670590214 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
    }

    .custom-shape-divider-bottom-1670590214 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 100px;
      transform: rotateY(180deg);
    }

    .custom-shape-divider-bottom-1670590214 .shape-fill {
      fill: $noel-vert;
    }
    .copyright_footer {
      a{
        color: $noel-beige;
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 60px;
        font-family: $font-normal;
        font-size: 0.8rem;
        text-transform: uppercase;
        &:hover{
          color: $noel-rouge;
        }
      }
      p {
        color: $noel-beige;
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 30px;
        font-family: $font-normal;
        font-size: 0.8rem;
        text-transform: uppercase;
      }
    }
  }
  .sapin_toggle {
    z-index: 11;
    left: 50px;
    top: 20px;
    justify-content: flex-end;
    align-self: flex-start;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    img {
      width: 15px;
      margin-bottom: -5px;
    }
    .branches {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      clip-path: inset(0 0 0 0);
      .branche {
        height: 6px;
        background-color: $noel-vert;
        &.arm1 {
          margin-top: 5px;
          width: 20px;
        }
        &.arm2 {
          width: 30px;
        }
        &.arm3 {
          width: 40px;
        }
      }
    }
    .menu_sapin {
      font-family: $font-normal;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: -5px;
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-inline: 13px;
      p:nth-of-type(2) {
        background-color: $noel-beige;
        top: 0;
        position: absolute;
        clip-path: inset(50% 0 50% 0);
        transition: clip-path 0.3s ease-in, background-color 1s ease-in;
      }
    }
  }
  .leclerc_link {
    left: -3vw;
    top: 25px;
    z-index: 99;
    position: relative;
    cursor: pointer;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  #flocon_header {
    width: 5vw;
    left: -9vw;
    top: 7.5vh;
    position: relative;
    transform: rotate(15deg);
  }

  #flocon_header_2 {
    width: 5vw;
    right: 1.5vw;
    top: 15vh;
    position: absolute;
    transform: rotate(15deg);
  }
  .modal_container {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 20px;
    margin-top: 15px;
    z-index: 99;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        padding: 10px;
        margin-inline: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before{
          content: url("../../assets/images/png/Gui.png");
        }
        i {
          padding-inline-end: 5px;
        }

        button {
          color: $noel-marron;
          text-align: center;
          background: none;
          border: none;
          font-size: 14px;
          font-family: $font-normal;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s;
          cursor: pointer;
          &:hover {
            color: $noel-vert;
          }
        }
      }
    }

    .modal {
      display: none;
      position: fixed;
      padding-top: 100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      overflow: hidden;
      .box_modal {
        position: relative;
        z-index: 3;
        background-color: $noel-beige;
        margin: auto;
        padding: 0;
        border-radius: 20px;
        width: 900px;
        max-width: calc(100% - 40px);
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        #lutin_recette {
          width: 9.5vw;
          z-index: 3;
          left: -100px;
          bottom: 0;
          position: absolute;
          transform: rotateY(180deg);
        }
        #modal_chocolat {
          width: 83vw;
          z-index: 2;
          left: -50px;
          top: -200px;
          position: absolute;
        }
        
        .corps_modal {
          height: auto;
          display: flex;
          justify-content: space-evenly;
          flex-direction: column;
          align-items: flex-start;
          background: url("../../assets/images/png/BackgroundRecetteModal.png");
          background-size: cover;
          border-radius: 5px;
          h1 {
            font-size: clamp(0.5rem, 0.7619rem + 1.1905vw, 1.5rem);
            margin-inline: 40px;
            padding-inline: 10px;
            border-radius: 20px;
            color: $noel-beige;
            background: $noel-marron;
            z-index: 99;
          }
          .btnFermer {
            color: $noel-beige;
            font-weight: bold;
            transition: all 0.3s;
            font-size: 2rem;
            background: $noel-vert;
            filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
            border-radius: 50%;
            padding: 10px;
            z-index: 99;
            cursor: pointer;
            &:hover {
              color: $noel-rouge;
              text-decoration: none;
            }
          }
          p {
            padding-block: 20px;
            padding-inline: 40px;
            text-align: left;
            color: $noel-marron;
            font-size: clamp(1rem, 0.7619rem + 1.1905vw, 1.15rem);
            font-family: $font-normal;
          }
        }
        .btnModalLettre {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .btnLettre {
            filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
            display: block;
            color: $background;
            background: $noel-rouge;
            position: absolute;
            text-transform: uppercase;
            text-align: center;
            bottom: auto;
            padding: 10px;
            transition: all 0.3s;
            border-radius: 20px 0 20px 20px;
            z-index: 99;
            &:hover {
              background: $noel-vert;
            }
          }
        }
      }
    }
  }
}

@keyframes animatetop {
  from {
    top: -50vh;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}