$leclerc-bleu: #0066cc;
$leclerc-orange: #ff6633;
$noel-rouge: #8d0801;
$noel-vert: #226f54;
$noel-beige: #efdebe;
$noel-marron: #43291f;
$background: #f8f8f8;
$font-title: "Doctor Soos";
$font-normal: "Roboto";

$telephone: 320px;
$tablette: 768px;
$desktop: 1192px;
