$leclerc-bleu: #0066cc;
$leclerc-orange: #ff6633;
$noel-clair: #A3DEF4;
$noel-rouge: #bf0603;
$noel-vert: #226f54;
$noel-vert-pastel: #87c38f;
$noel-beige: #efdebe;
$noel-etoile: #FFD700;
$noel-noir: #091322;
$blanc-casse: #f4f0bb;
$noel-marron: #43291f;
$background: #f8f8f8;
$font-title: "Adigiana Toybox";
$font-normal: "Lemonada";

$telephone: 320px;
$tablette: 768px;
$desktop: 1192px;
